@import url(vars.less);

html {
	font-size: 15px;
}

body {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	font-size: 1rem;
	color: @black;
	
	&.no-scroll {
		overflow: hidden;
	}

}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
}

p {
	margin: 0 0 1rem;
}

*,
*:before,
*:after {
	box-sizing: border-box;
}

/* Blocks */
@import url(blocks/container.less);
@import url(blocks/header.less);
@import url(blocks/user.less);
@import url(blocks/nav.less);
@import url(blocks/intro.less);
@import url(blocks/social.less);
@import url(blocks/btn.less);
@import url(blocks/works.less);
@import url(blocks/portfolio.less);
@import url(blocks/work.less);
@import url(blocks/about.less);
@import url(blocks/reviews.less);
@import url(blocks/news.less);
@import url(blocks/articles.less);
@import url(blocks/footer.less);
@import url(blocks/modal.less);
@import url(blocks/modal-work.less);
@import url(blocks/timeline.less);
@import url(blocks/progress-bar.less);
@import url(blocks/awards.less);
@import url(blocks/contact.less);
@import url(blocks/form.less);
/* Helpers */
@import url(blocks/helpers.less);