.social {
	margin: 25px 0 40px;
	display: flex;
	flex-wrap: wrap;
}

.social__link {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-right: 10px;
	width: 40px;
	height: 40px;
	font-size: 1.5rem;
	padding: 10px;
	color: @white;
	text-decoration: none;
	transition: transform .2s linear;
	
	&:hover {
		transform: translateY(-5px);
	}

	&--behance {
		background-color: #1869ff;
	}

	&--dribble {
		background-color: #e51a68;
	}

	&--linkedin {
		background-color: #007bb6;
	}

	&--facebook {
		background-color: #3a5898;
	}

	&--instagram {
		background-color: #13578a;
	}

	&--twitter {
		background-color: #56acef;
	}

	@media @mobile-sm {
		width: 35px;
		height: 35px;
		padding: 0.5rem;
	}
}